*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background:#EBEBEB ;
    height: 1000px;
}

.headerCont{
    background: #FFF159;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    /* border: 1px solid blue; */
    /* border: 1px solid red; */
    display: flex;
    height: 5vh;
    background:#FFF159 ;
    border-bottom: 1px solid rgba(75, 72, 72, 0.2);
    justify-content: space-around;
    max-width: 1024px;
    width: 100%;
    /* box-sizing: border-box; */
}

.logo{
    /* border: 1px solid #00B285; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 0 1% ;
}
.logo:hover{ 
    background: #00B285;
    cursor: pointer;
}
.logoMercadoLibre{
    /* border: 1px solid red; */
    height: 70%;
}

.contenedorBuscador{
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    width: 90vw;
    align-items: center;
    margin:0 1%;
}
.contendorFondo{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    background: white;
    border-radius: 3px;
}
.buscadorIcon{
    display: flex;
    align-content: center;
    /* height: 70%; */
    font-size: 13px;
    margin: 0 10px;
    background: white;
    color: #B8B8B8;
}
.buscador{
    display: flex;
    height: 60%;
    border: none;
    width: 100%;
    outline: none;
}
.buscador::placeholder{
    color: #b8b8b89c;
    font-size: medium;
}

.menu{
    display: flex;
    /* border: 1px solid rgb(0, 157, 255); */
    height: 100%;
    width: 10vw;
    /* color: #b8b8b818; */
}
.containerLista{
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /* justify-content: space-around; */
    /* border:1px solid blue; */
    /* align-content: flex-end; */
    /* align-items: flex-end;
    justify-content: flex-end; */
    /* position: relative;
    top: 100px;
    right: 100px; */
}
.car{
    display: flex;
    font-size: 20px;
    color:#3333338e;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    list-style: none;
    color: #00B285;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* position: fixed; */
    /* position: relative; */
    /* position: absolute; */
}
.item:hover{
    background: #00B285;
    color:#282C34 ;
}

.navLocation{
    /* border: 2px solid rgb(139, 252, 0); */
    display: flex;
    height: 4vh;
    background:#FFF159 ;
    /* justify-content: space-around; */

    max-width: 1024px;
    width: 100%;
    /* align-content: center; */
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(75, 72, 72, 0.2);
    justify-content: space-between;
    /* box-sizing: border-box; */
}
.containerLocation{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.location{
    margin: 0 10px;
    /* border: 1px solid green; */
    color: #3333338e;
    font-size: small;
}
.textLocation{
    /* border: 1px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    color: #3333338e;
}

.containerArrow{
    /* border: 1px solid white; */
    /* background: red; */
    display: flex;
    align-items: center;
    color: #3333338e;
    margin-right: 1%;
}



/*Limite*/


.limite {
    background: #23475b;
    color: white;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);/*  CUAL QUIERES QUE SEA EL ESPACIO MAXIMO DE TRABAJO */
    justify-content: center;/* CENTRA RESPECTO A LA MEDIDA DE GRID TEMPLATE-COMLUMNS */
  }
  .contenedor {
    display: grid;
    grid-template-columns: 80px 1fr 320px;
    grid-template-areas: "uno  dos       dos"
                         "uno    tres      tres"
                         "uno    tres      tres";
    grid-gap: 10px;
  }
  .uno {
    grid-area: uno;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    /* height: 100%;
    width: 100%; */
  }
  .dos{
      grid-area: dos;
      display: flex;
      justify-content: center;
      align-items: center;

      background: blue;
      /* height: 100%;
      width: 100%; */

  }
  .tres{
      grid-area: tres;
      display: flex;
      justify-content: center;
      align-items: center;

      background: chartreuse;
      /* height: 100%;
      width: 100%; */

  }





  @media screen and (max-width: 768px) {
   
    .contenedor{
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "dos  dos"
                           "tres tres"
                           "uno uno";
                        }
    .nav{
        height: 5.5vh;
    }
    .navLocation{
        height: 4.5vh;
    }
}



  @media screen and (max-width: 425px) {
    .contenedor{
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "uno  uno"
                           "dos tres"
                           "dos tres";
    }
  

  .menu{
    width: 30vw;
   
}
.logoMercadoLibre{
    height: 70%;
    margin: 0 5px;

}


.navLocation{
    /* border: 1px solid red; */
    height: 5vh;
    padding: 0 1%;
}
.location{
    margin: 0 5px;
}


.containerArrow{
    margin-right: 1%;
}

}

@media screen and ( max-width: 320px){
    
  .menu{
    width: 50vw;
   
}
}