*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background:#EBEBEB ;
    height: 1000px;
}

.headerCont{
    background: #FFF159;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    /* border: 1px solid blue; */
    /* border: 1px solid red; */
    display: flex;
    height: 5vh;
    background:#FFF159 ;
    border-bottom: 1px solid rgba(75, 72, 72, 0.2);
    justify-content: space-around;
    max-width: 1024px;
    width: 100%;
    /* box-sizing: border-box; */
}

.logo{
    /* border: 1px solid #00B285; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 0 1% ;
}
.logo:hover{
    background: #00B285;
    cursor: pointer;
}
.logoMercadoLibre{
    /* border: 1px solid red; */
    height: 70%;
}

.contenedorBuscador{
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    width: 90vw;
    align-items: center;
    margin:0 1%;
}
.contendorFondo{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    background: white;
    border-radius: 3px;
}
.buscadorIcon{
    display: flex;
    align-content: center;
    /* height: 70%; */
    font-size: 13px;
    margin: 0 10px;
    background: white;
    color: #B8B8B8;
}
.buscador{
    display: flex;
    height: 60%;
    border: none;
    width: 100%;
    outline: none;
}
.buscador::placeholder{
    color: #b8b8b89c;
    font-size: medium;
}

.menu{
    display: flex;
    /* border: 1px solid rgb(0, 157, 255); */
    height: 100%;
    width: 20vw;
    /* color: #b8b8b818; */
}
.containerLista{
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /* justify-content: space-around; */
    /* border:1px solid blue; */
    /* align-content: flex-end; */
    /* align-items: flex-end;
    justify-content: flex-end; */
    /* position: relative;
    top: 100px;
    right: 100px; */
}
.car{
    display: flex;
    font-size: 20px;
    color:#3333338e;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    list-style: none;
    color: #00B285;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* position: fixed; */
    /* position: relative; */
    /* position: absolute; */
}
.item:hover{
    background: #00B285;
    color:#282C34 ;
}

.navLocation{
    /* border: 2px solid rgb(139, 252, 0); */
    display: flex;
    height: 4vh;
    background:#FFF159 ;
    /* justify-content: space-around; */

    max-width: 1024px;
    width: 100%;
    /* align-content: center; */
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(75, 72, 72, 0.2);
    justify-content: space-between;
    /* box-sizing: border-box; */
}
.containerLocation{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.location{
    margin: 0 10px;
    /* border: 1px solid green; */
    color: #3333338e;
    font-size: small;
}
.textLocation{
    /* border: 1px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    color: #3333338e;
}

.containerArrow{
    /* border: 1px solid white; */
    /* background: red; */
    display: flex;
    align-items: center;
    color: #3333338e;
    margin-right: 2%;
}





/*Slide*/

.contentSlide{
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
    height: 22.5vh;
    width: 100%;
}
.contenedorImgSlide{
    /* border: 5px solid blue; */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.imgSlide{
    /* border: 10px solid black; */
    display: flex;
    object-fit: cover;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}



.msiDiv{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    background:white;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.spanMsi{
    /* border: 1px solid red; */
    margin: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
    color:#2e2e2ea1 ;
}
.banamex{
    /* border: 1px solid blue; */
    height: 30px;
    margin-bottom: 10px;
}
/* @media screen and (max-width: 2560px) {
.contenedorImgSlide{
    height: 22vh;
} */

.primerElemento {
    /* border: 1px solid yellow; */
    background: white;
    margin: 0 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    /* height: 62vh; */
    display: flex;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    flex-direction: column;
}
.primerElementoTitulo {
    /* border: 2px solid green; */
    font-size: larger;
    font-family: Quicksand;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 4%;
}

.publicidadUno {
    border-top: 1px solid rgba(0, 0, 0, 0.074);
    /* border: 5px solid yellow; */
    border-radius: 10px solid red;
    /* background: red; */
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.publicidadUnoImg{
    /* border: 5px solid green; */
    /* object-fit: contain; */
    width: auto;
    height: 100%;
    object-position: 0px 2px;
}
.primerElementoReferencias {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.referenciaSpan{
color: black;
font-family: Quicksand;
margin: 1% 0%;
font-size: small;
font-weight: initial;
}
.referenciaH2 {
    color: rgba(0, 0, 0, 0.5);
    font-family: system-ui;
    margin: 1% 0%;
    font-size: large;
    font-weight: bold;
}
.referenciaH4 {
    color: #39B54A;
    font-family: Quicksand;
    margin: 1% 0%;
    font-size: small;
}
.referenciaH3 {
    color: #39B54A;
    font-family: Quicksand;
    margin: 1% 0%;
    font-size: small;
    font-weight: bold;
    margin-bottom: 2%;
}
.verMasUno {
    /* background: blueviolet; */
    font-family: Quicksand;
    /* height: 35px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    height: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.074);
    /* margin-top: -5%; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

.verMas {
    /* background: blueviolet; */
    font-family: Quicksand;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    margin-top: -2%;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}
.historialDeNav{
    color: #3483FA;
    font-family: Quicksand;
    font-weight: bold;
    font-size: small;

}
.iconVermas{
    color:#3483FA;
    font-family: Quicksand;
    font-size: small;
}





.primerElementoGrid {
    /* border: 10px solid red; */
    background: white;
    margin: 0 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    /* height: 62vh; */
    display: flex;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    flex-direction: column;
}
.primerElementoTituloGrid {
    /* border: 2px solid green; */
    font-size: larger;
    font-family: Quicksand;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 4%;
}
.primerGrid{
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    margin: 2%;


}
.contenedorPrimerGrid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "itemUno itemDos"
                         "itemTres itemCuatro";
}
.itemUnoGrid{

    grid-area: itemUno;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.074);

    border-top: 1px solid rgba(0, 0, 0, 0.074);
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);

}
.itemDosGrid{

    grid-area: itemDos;
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top: 1px solid rgba(0, 0, 0, 0.074);
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);

}
.itemTresGrid{

    grid-area: itemTres;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.074);
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);



}
.itemCuatroGrid{

    grid-area: itemCuatro;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);

}



.publicidadUnoGrid {

    /* border-top: 1px solid rgba(0, 0, 0, 0.074); */
    /* border: 5px solid yellow; */
    border-radius: 10px solid red;
    /* background: red; */
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.publicidadUnoImgGrid{
    /* border: 5px solid green; */
    /* object-fit: contain; */
    width: auto;
    height: 100%;
    object-position: 0px 2px;
}
.primerElementoReferenciasGrid {

    /* background: blue; */
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.referenciaSpanGrid{

color: black;
font-family: Quicksand;
margin: 1% 0%;
font-size: small;
font-weight: initial;
}
.referenciaH2Grid {

    color: rgba(0, 0, 0, 0.5);
    font-family: system-ui;
    margin: 1% 0%;
    font-size: large;
    font-weight: bold;
}


.primerElementoReferenciasVertical {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.verticalUnoContenedor {
    display: flex;
    align-items: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.074);
}

.publicidadUnoVertical {
    /* border-top: 1px solid rgba(0, 0, 0, 0.074); */
    /* border: 5px solid yellow; */
    border-radius: 10px solid red;
    /* background: red; */
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.referenciaH4Vertical {
    color: #39B54A;
    font-family: Quicksand;
    margin: 1% 0%;
    font-size: small;
}

.verticalAlingContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: content-box;
}

.verMasVertical {
    /* background: blueviolet; */
    font-family: Quicksand;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.074);
    /* margin-top: -5%; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}



.itemsUno {
    /* border: 5px solid blue; */
    display: flex;
    margin: 3%;
    flex-direction: column;
    /* margin-bottom: 84px; */
}
.contenedorItemsUno {
    /* border: 5px solid green; */
    display: flex;
    width: 100%;
    height: 190px;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    padding: 3%;
    margin-bottom: 2%;
}
.contenedorMensajeItemsUno{
    /* border:5px solid rgb(77, 132, 99); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.contenedorMensajesItemsUno{
    /* border:5px solid rgb(177, 170, 170); */
    display: flex;
    flex-direction: column;
}
.primerMensajeItemsUno{
    /* border:5px solid rgb(255, 183, 0); */
    font-size: 13px;
    font-family: quicksand;
    font-weight: normal;
}
.primerMensajeItemsDos{
    /* border:5px solid rgb(0, 255, 94); */
    font-size: 25px;
    font-family: quicksand;
    font-weight: bold;
}
.botonItemsUno {
    /* border: 5px solid rgb(0, 229, 255); */
    font-family: quicksand;
    border: none;
    background: none;
    color: #3483FA;
}

.contenedorImgItemsUno{
    /* border:5px solid red; */
    width: 100%;
}
.imgItemsUno{
    /* border:5px solid red; */
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.seccionDivs{
    display: flex;
    /* background: white; */
    margin: 2%;
    height: 66vh;
    flex-direction: column;
}
.divH1Divs{
    /* border:m 1px solid red; */
    margin: 2%;
}
.h1Divs{
    font-family: quicksand;
    font-size: larger;
    font-weight: lighter;
    /* margin-bottom: 3%; */
}

.contDivs{
    /* border: 1px solid black; */
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap: 3px; */
    /* justify-content: stretch;
    align-content:stretch ; */
}
.secDivsUno{
    width: 50%;
    height: 50%;
    /* background: red; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contUno{
    /* border: 1px solid black; */
    background: white;
    display: flex;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 19%; */
}
.mensajes{
    font-family: quicksand;
    font-size: small;
    font-weight: bold;
    color: #878787;
}
.iconGrid{
    font-size: 40px;
    margin-bottom: 10%;
    color: #3483FA;
}


.seccionVerMasCategorias{
    display: flex;
    margin: 3%;
    margin-top: -3%;
    background: white;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.spanVerMasCategorias{
    font-family: quicksand;
    font-weight: bolder;
    color:#3483FA ;
}

.seccionVerMasCategoriasLogo{
    display: flex;
    /* margin: 3%; */
    margin-top: 5%;
    background: white;
    height: 8vh;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    background: #FFF159;
}
.spanVerMasCategoriasLogo{
    font-family: quicksand;
    font-weight: normal;
    color:black ;
}

.divVerMasCategoriasLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFF159;
}
.contLogo{
    height: 40px;
    width: 40px;
    display: flex;
    margin-right: 4%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 4px;
    background: #FFF159;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 70%);}
.imagenM{
    width: 30px;

}




@media screen and (max-width: 768px) {
    .imgSlide {
        object-position: -120px;
    }
  }
  @media screen and (max-width: 600px) {
    .imgSlide {
        object-position: -170px;
    }
  }
  @media screen and (max-width: 540px) {
    .imgSlide {
        object-position: -140px;
    }
  }
  @media screen and (max-width: 478px) {
    .imgSlide {
        object-position: -160px;
    }
  }
  @media screen and (max-width: 414px) {
    .imgSlide {
        object-position: -145px;
    }
  }
  @media screen and (max-width: 412px) {
    .imgSlide {
        object-position: -135px;
    }
  }
  @media screen and (max-width: 384px) {
    .imgSlide {
        object-position: -130px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .imgSlide {
        object-position: -145px;
    }
  }
  @media screen and (max-width: 360px) {
    .imgSlide {
        object-position: -120px;
    }
  }

  @media screen and (max-width: 320px) {
    .imgSlide {
        object-position: -90px;
    }
  }
/* }
.referenciaSpanGrid{
    color: black;
    font-family: Quicksand;
    margin: 1% 4%;
    font-size: 10px;
    font-weight: initial;
    }


    .segundoElemento {
        background: white;
        margin: 0 2%;
        border-radius: 5px;
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
    }

    .segundoElementoImg{
        border-radius: 10px solid red;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .publicidadDosImg{
        object-fit: contain;
        width: 80%;
        object-position: 0px 2px;
    }
    .segundoElementoDos {
        background: white;
        margin: 0 2%;
        border-radius: 5px;
        margin-bottom: 6%;
        display: flex;
        flex-direction: row;
    } */

/*
  @media screen and (max-width: 425px) {
  .menu{
    width: 30vw;

}

.logoMercadoLibre{
    height: 70%;
    margin: 0 5px;
}

.navLocation{
    height: 5vh;
    padding: 0 1%;
}
.location{
    margin: 0 5px;
}

.containerArrow{
    margin-right: 1%;
}

.imgSlide{
    object-position: -83px 0px;
}

}

@media screen and ( max-width: 375px){
    .imgSlide{
        object-position: -100px 0px;
    }
  }


@media screen and ( max-width: 320px){
    .imgSlide{
        object-position: -100px 0px;
    }
  .menu{
    width: 50vw;

}
} */